main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.no-print {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  border: 20px;
  border-radius: 4px;
  background-color: #131f3b;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.no-print:hover {
  background-color: #0056b3;
}

.table-container {
  margin-top: 20px;
  overflow-x: auto; /* Adiciona rolagem horizontal para tabelas largas */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.item-details .details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  
}

.item-details .details-container div {
  flex: 0 0 48%; /* Cada coluna ocupa 48% da largura */
  margin-bottom: 20px;
  text-align: center;
}

.item-details .details-container div p {
  margin: 0;
}

.item-image-preview {
  max-width: 200px;
  height: auto;
  margin-top: 10px;
}

.item-details .strong {
  text-align: center;
}

.item-image {
  max-width: 100px; /* Ajuste o tamanho máximo da imagem */
  height: auto;
  margin-top: 30px;
}

.signature-container {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.signature-container p {
  margin: 10px 0;
}

.signature-line {
  border-top: 1px solid #000;
  margin: 10px auto;
  padding: 10px;
  width: 50%;
}

.date-container {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  text-align: center;
}

#btnAcao {
  display: flex;
  flex-direction: column; /* Coloca os botões um sobre o outro */
  gap: 10px; /* Espaço entre os botões */
  margin-top: 35px;
  align-items: center;;
}

#btnAcao button {
  margin: 0;
  padding: 5px 10px; /* Reduz o tamanho dos botões */
  font-size: 12px; /* Reduz o tamanho da fonte dos botões */
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Alinha os botões à esquerda */
  gap: 10px;
  margin-top: 20px;
}
.button-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px; /* Define a largura do botão */
  height: 60px; /* Define a altura do botão */
  font-size: 16px;
  cursor: pointer;
  background-color: #131f3b;
  color: white;
  border: none;
  border-radius: 4px;
}

.button-container button .no-print {
  background-color: #131f3b;
  color: white;
  border: none;
  border-radius: 4px;
}

.button-container button:hover {
  background-color: #0056b3;
}

@media print {
  .no-print {
    display: none;
  }
  header, footer {
    display: none;
  }
  #no-printAcao {
    display: none;
  }

}