.action-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.action-cards-row {
  display: flex;
  justify-content: center;
  gap: 2rem; /* Espaço entre os cards */
}

.action-card {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(219, 218, 218, 0.685); /* Fundo cinza transparente 
  overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites do card */
}

.icon-button {
  color: #000;
  text-decoration: none;
  border: none; /* Remove a borda */
  background: none; /* Remove o fundo */
  cursor: pointer; /* Adiciona o cursor de ponteiro */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.icon-button:hover {
  color: #007bff;
}

.icon-button img {
  width: 100%; 
  height: 100%;
  transition: transform 0.3s ease; 
}

.icon-button:hover img {
  transform: scale(1.5); 
}

.icon-button:hover {
  color: #007bff;
}

.icon-button:focus {
  outline: none;
}

