.footer {
  background-color: #131f3b;
  color: rgb(255, 255, 255);
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  bottom: 0;
  width: 100%;
}

.footer-icons a {
  color: rgb(255, 255, 255);
  margin-right: 1rem;
}

.footer-text p {
  margin: 0;
}