#mainApoio {
    padding: 20px;
    background-color: #f8f8f8;
  }
  
  #mainApoio h1 {
    text-align: center;
    margin-bottom: 120px;
  }
  
  .institutions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .institution {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .institution-logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .institution h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .institution p {
    font-size: 1em;
    color: #333;
  }

  .button-container {
    display: flex;
    justify-content: flex-end; /* Alinha os botões à esquerda */
    gap: 10px;
    margin-top: 10px;
    margin-right: 10px;
  }