.print-protocol {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.no-print {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  border: 20px;
  border-radius: 4px;
  background-color: #131f3b;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.no-print:hover {
  background-color: #0056b3;
}

.table-container {
  margin-top: 20px;
  overflow-x: auto; /* Adiciona rolagem horizontal para tabelas largas */
}

.item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.item-details img {
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.details-container div {
  flex: 0 0 48%; /* Cada coluna ocupa 48% da largura */
  margin-bottom: 10px;
}

.details-container div p {
  margin: 0;
}

@media print {
  .no-print {
    display: none;
  }
  header {
    display: none;
  }

  .footer {
    display: none;
  }
}